.custom-light-bg {
    background-color: #efefef;
}

.top-bar-icon {
    margin-right: 10px;
    font-size: 32px;
    color: rgb(7, 56, 110);
}

.login-btn {
    background: #fff;
    padding: 6px;
    border: 1px solid rgb(7, 56, 110);
    outline: none;
    text-decoration: none;
    color: rgb(7, 56, 110);
    border-radius: 10px;
    font-weight: 600;
}

.navbar-nav li {
    margin-right: 30px
}

@media only screen and (max-width: 991px) {
    .display_none {
      display: none !important;
    }
  }