.delivery-title {
    font-size: 17px;
    font-weight: 700;
    width: 100px;
}

.delivery-place {
    font-size: 12px;
    font-weight: normal;
}

@media only screen and (max-width: 991px) {
    .responsive_md_navbar {
        width: 100%;
        justify-content: space-between;
        margin-bottom: .7rem !important;
    }
}