.delivery-title {
    font-size: 17px;
    font-weight: 700;
    width: 100px;
}

.delivery-place {
    font-size: 12px;
    font-weight: normal;
}

.search-field-item {
    flex: .6 1 auto;
    margin-right: 42px;
    margin-left: 29px;
}

.cart-text {
    width: 100px
}

@media only screen and (max-width: 991px) {
    .responsive_md_navbar {
        width: 100%;
        justify-content: space-between;
        margin-bottom: .7rem !important;
    }

    .responsive_search_field_item {
        margin-bottom: 1rem !important;
    }

    .responsive_display_none {
        display: none !important;
    }
}