.cart-text {
    width: 100px
}

@media only screen and (max-width: 991px) {
    .responsive_display_none {
        display: none !important;
    }

    .responsive_justify_right {
        justify-content: right;
    }
}